header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gainsboro;
}

header ul { 
  display: flex;    
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
